/* increase default icon size */
i {
  font-size: 30px;
}

.large-emoji {
  font-size: 3em;}

.error-message {
  color: red;
}

img{
  display: block;
}
.wrong-field {
  border-color: red;
  border-width: 2px;
}

.custom-control-input {
  margin-right: 5px;
}

.parent-component.blur > *:not(.overlay) {
  filter: blur(5px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  z-index: 9999;
  pointer-events: all; /* Permette di interagire solo con l'overlay */
}